<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Spaces</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
  <h1>Book a space!</h1><br><br>
  <button><a href="./spaces/new">List a space</a></button><br><br>
  <!-- add a feature test to above -->
  <form>
    <label for="user_available_from">Available from (DD/MM/YY)</label><br><br>
    <input type="date" id="user_available_from" name="user_available_from"><br><br>

    <label for="user_available_to">Available to (DD/MM/YY)</label><br><br>
    <input type="date" id="user_available_to" name="user_available_to"><br><br>

    <!-- Add filter functionality if time on friday -->

    <input type="submit" value="List spaces">
  </form>
  <ul>
    <% @spaces.each do |space| %>
      <li>
      <a href="/booking" style="text-decoration: none;"><%= space['space_name'] %></a><br>
      <b>Description:</b>
      <%= space['space_description'] %><br>
      <b>Price per night:</b>
      £<%= space['space_price'] %><br>
      <b>Available_from:</b>
      <%= space['available_from'] %><br>
      <b>Available_to:</b>
      <%= space['available_to'] %>
      </li>
    <% end %>
  </ul>

  </body>
</html>

